<app-header titulo="card"></app-header>

<ion-content>
  <ion-card mode="ios">
    <ion-card-header>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      <ion-card-title>Card Title</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item color="primary">
      <ion-icon slot="start" name="pin-outline"></ion-icon>
      <ion-label>Marcador</ion-label>
    </ion-item>

    <ion-card-content>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa incidunt, fugit facilis voluptatum eaque quos et dicta eius natus molestias dolorem. Nihil debitis harum provident libero eos, laboriosam pariatur sapiente.
    </ion-card-content>    
  </ion-card>

  <ion-card>
    <img src="https://helpx.adobe.com/content/dam/help/en/photoshop/using/convert-color-image-black-white/jcr_content/main-pars/before_and_after/image-before/Landscape-Color.jpg">

    <ion-card-content>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa incidunt, fugit facilis voluptatum eaque quos et dicta eius natus molestias dolorem. Nihil debitis harum provident libero eos, laboriosam pariatur sapiente.
    </ion-card-content>
  </ion-card>
  
</ion-content>
